body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

html {
    box-sizing: border-box;
}

h1 {
    background-color: rgb(144, 161, 115);
    font-size: 50px;
    font: weight 300px; ;
}



.item {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
}

.row {
    display: grid;
    gap: 16px;
    background-color: #dcebf7;
    padding: 10px;
    grid-template-columns: repeat(3 ,550px);
    
   
  }

